@font-face{
font-family: 'Raleway', sans-serif;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
      padding: 10px;
}
p{
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-size: 17px;
}
li{
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-size: 17px;
}
.tab-content{
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-size: 17px;
}

/*Header*/
.header {
    background-color: #283747;
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-item a{
  color: white;
}


/*cuadro navbar*/
.iconnav{
  width: 100%;
    height: auto;
    display: flex;
    background-color: #283747;
    border-bottom: solid 1px #ffffffbf;
}
.fa-envelope{
    margin-left: 20%;
}
.face{
  margin-left: 20%;
  margin: 10px;
}
.face1{
margin-right: 10%;
    color: white;
}
.iconrigth{
   background-color: ;
    width: 50%;
    height: auto;
    padding: 10px 0px;
    display: inline-block;
  
}
i.fas.fa-phone-alt, .fa-envelope {
    font-size: 18px;
        margin-left: 10px;
}
.iconrigth span {
    margin-left: 10px;
}
.iconleft{
        width: 50%;
    height: auto;
    /*background: red;*/
    padding: 10px 0px;
    display: flex;  
}
.container{   
    display: flex;
    width: 100%; 
}
/*logo*/
.iconlogo{
  width: 50%;
  background-color: ;
}
.logo{
}
.menu li {
    display: inline-block;
    margin-left: 10px;
    color: white;

}
.iconmenu{
    width: 50%;
    background-color: ;
}
.menu {
    float: right;
    margin-right: 30px;
}
.white{
  color: white;
}
.div1{
      background-color: #d6dcde00;
    display: block;
    width: 100%;
    margin-top: 25%;
}
.iconos1{
 /* background-color: orange;*/
  width: 50%;
  height: auto;
}
.iconos2{
  /*background-color: aqua;*/
  width: 50%;
  height: auto;
}

/*----------------------------------------------------------------*/
/*Seccion1*/
.img-hero{
  background-image: url('../img/banner1.png');
  background-color: ;
  background-size: 100%;
  background-repeat: no-repeat;
}
 /*flexbox------seccion1*/
.flexbox{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.box{ /*hijo*/
  flex-shrink: 0;
  margin: 0px;
  width: 100%;
  height: 569px;
  background: #00000078;
}
.btn1{
     background-color: #e0e02aa6;
    /* background-color: white; */
    width: 17%;
    height: 9%;
    border-radius: 6px;
    display: block;
    padding: 10px;
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    border: none;
}
h1.texto, p.texto, h4.texto{
  color:#D7DBDD;
}
/*----------------------------------------------------------------*/
/*Seccion2*/
/*flexbox------seccion2*/
.flexbox2{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
.box2{ /*hijo*/
  flex-shrink: 0;
  margin: 0px;
  width: 100%;
  height: 235px;
  background-color: #F7DC6F;
}
.form{
  width: 100%;
  height: 100%;
  background-color: ;
}
.btnform2{
          background-color: #000000a6;
    width: 53%;
    height: 33px;
        border-radius: 4px;
  }
.formcenter{
  width: 80%;
  height: 100%;
  background-color: ;
  margin-left: 10%;
  display: flex;
}


.form-box{
    width: 20%;
    height: auto;
    position: relative;
    display: block;
}


.form-two{
    display: flex;
}

.form-50 {
    width: 50%;
    padding: 0px 10px;
}

.form-box button{
    margin-top: 25%;
}

input.form-control {
    width: 95%;
}
/*----------------------------------------------------------------*/
/*Seccion3*/
/*flexbox------seccion3*/
.flexbox3{ /*padre*/
  display: flex;
  align-items:center;
  justify-content:center; 
}
.box3{ /*hijo*/
    flex-shrink: 0;
    margin: 0px;
    width: 50%;
}
.lista3{
  list-style: none;
}
.imgbox3{
      width: 100%;
  background-color: ;
  background-size: 100%;
}
.img3{
 background-image: url('../img/bg1.png');
    background-color: ;
    background-size: cover;
    background-repeat: no-repeat;
}
.cag3{
   width: auto;
    /* height: 57%; */
    background-color: ;
    padding: 96px 0px;
}
h1.cag3 {
    padding: 0px 10px;
}
h4.cag3  {
    padding: 0px 10px;
}
p.cag3  {
    padding: 0px 10px;
}
/*----------------------------------------------------------------*/
/*Seccion4*/
/*flexbox------seccion4*/
.flexbox4{ /*padre*/
  align-items:center;
  justify-content:center; 
}
.box4{ /*hijo*/
 flex-shrink: 0;
    margin: 0px;
    width: 100%;
    height: 50%;
    /* height: 400px; */
    background-color: #f4f6f700;
    display: flex;
}
.mod4-1{
  width: 50%;
  height: auto;
  background-color: ;
  display: block;
  right: 30%;
}
.mod4{
        width: 50%;
    height: auto;
    background-color: ;
    display: block;
    /* display: flex; */
}
.mod6{
     width: 40%;
    display: block;
    background-color: ;
    margin: 0 auto;
}
.mod8{
 /*float: right;*/
}


.cua1{
width: 100%;
    height: 34%;
    display: flex;
    flex-wrap: wrap;
 /* background-color: red;*/
}
.icon4{
    font-size: 28px;
    color: #00a1ffb8;
    margin: 14px;
}

/*----------------------------------------------------------------*/
/*Seccion5*/
/*flexbox------seccion5*/
.flexbox5{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
.box5{ /*hijo*/
     flex-shrink: 0;
    margin: 0px;
    width: 100%;
    background-color: #1685d054;
}
.img5{
  background-image: url('../img/image2.png');
  background-color: ;
  background-size: cover;
  background-repeat: no-repeat;
}
.cajag{
 
    max-width: 80%;
    background-color: ;
    margin-top: 8%;
    display: flex;
    margin: 0 auto;
}
.lista5{
  list-style: none;
}
.caja5{
     background-color: #ffffff7a;
    width: 30%;
    border-radius: 15px;
     margin: 0 auto;
}
.yellow1 {
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    width: 100%;

}
.textoyellow{
  width: 100%;
 text-align: center;
     padding: 30px 0;
  /*background-color: white;*/
}

.cajag center .fas {
    font-size: 30px;
        margin: 6px
}

/*----------------------------------------------------------------*/
/*Seccion6*/
/*flexbox------seccion6*/
.flexbox6{ /*padre*/
  display: flex;
  align-items:center;
  justify-content:center; 
}
.box6{ /*hijo*/
        flex-shrink: 0;
    margin: 0px;
    width: 30%;
    height: 400px;
    /*border: 1px solid red;*/
}
.box6-1{ /*hijo*/
        flex-shrink: 0;
    margin: 0px;
    width: 70%;
    height: 400px;
}
.transition{
      background: ;
    width: 53%;
    height: 26%;
    padding: 2px;
}
.im6{
        width: 78%;
    margin-top: 7%;
    border-radius: 20px;
}
/*cuadro */
.cuadro{
     width: 97%;
    background-color: ;
    background-color: ;
    margin-left: 3%;
    height: 95%;
}
.btn6{
      background-color: #e0e02aa6;
    /* background-color: white; */
    width: 17%;
    height: 9%;
    border-radius: 6px;
    display: block;
    margin: auto;
}
.btny{
         background-color: #e0e02aa6;
    /* background-color: white; */
    width: 17%;
    height: 9%;
    border-radius: 6px;
    display: block;
    padding: 10px;
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    border: none;
    
}
ul.menu-slide {
      position: relative;
    padding: 0px;
    width: 31%;
    height: 30%;
    display: flex;
    /* float: left; */
    border: 1 solid;
    border: 1px solid;

}
.buttoncontainer {
    display: block;
    clear: both;
}
ul.menu-slide li {
    display: inline-block;
    padding: 14px 20px;
    border: 1 solid #000;
}

ul.menu-slide li span {
    /*padding: 2px 15px;*/
   /* border: 1px solid #000;*/
    color: #000;
    text-decoration: none;
}

#slider {
      position: absolute;
    top: -1px;
    left: 0;
    height: 94%;
    width: 89%;
    padding: 2px 27px;
    margin-left: 1px;
    background-color: #1adae6;
    z-index: -1;
}
.tabcontainer{
     width: auto;
    margin: 0px auto;
    }

ul.tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
}
ul.tabs li{
      background: none;
      color: #222;
      display: inline-block;
      padding: 17px 16px;
      cursor: pointer;
}

ul.tabs li.current{
  background: #36d9e6;
  color: #222;
}

.tab-content{
     display: none;
    background: ;
    width: 50%;
    height: 50%;
    
}

.tab-content.current{
      display: inherit;
}

/*----------------------------------------------------------------*/
/*Seccion7/
/*flexbox------seccion7*/
.flexbox7{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
.img7{
  background-image: url('../img/image4.png');
  background-color: ;
  background-size: 100%;
  background-repeat: no-repeat;
}
.box7{ /*hijo*/
  flex-shrink: 0;
  margin: 0px;
  width: 100%;
  background-color: #1685d038;
}
.cajag7{
 margin-left: 23%;
    max-width: 100%;
    background-color: ;
    margin-top: 8%;
    /* position: relative; */
    display: flex;
    /* margin: 29px; */
    /* padding: 29px; */
    margin: 0 auto;
    /* display: flex; */
    
}
.caja7{
background-color: #ffffff7a;
    width: 28%;
    border-radius: 15px;
      margin: 0 auto;
}
.imgca7{
  width: 100%;
  background-repeat: no-repeat;
      border-radius: 4%;
}

.caja7-1{
background-color: white;
    width: 28%;
    border-radius: 15px;
       margin: 0 auto;
}
.caja7-1-1{
background-color: white;
    width: 28%;
    border-radius: 15px;
      margin: 0 auto;
}
.texto7{
  background-color: #ffffff14;
 width: 100%;
}
.btnseccion7{
    background-color: #e0e02aa6;
    /* background-color: white; */
    width: 66%;
    border-radius: 6px;
    display: block;
    padding: 10px;
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    border: none;
}

/*----------------------------------------------------------------*/
/*Seccion8/
/*flexbox------seccion8*/
.flexbox8{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
.img8{
  background-image: url('../img/image4.png');
  background-color: ;
  background-size: 100%;
  background-repeat: no-repeat;
}
.box8{ /*hijo*/
  flex-shrink: 0;
  margin: 0px;
  width: 100%;
  background-color: #1685d038;
}
.cajag8{
 margin-left: 23%;
    max-width: 100%;
    background-color: ;
    margin-top: 8%;
    /* position: relative; */
    display: flex;
    /* margin: 29px; */
    /* padding: 29px; */
    margin: 0 auto;
    /* display: flex; */
   
}
.caja8{
background-color: white;
    width: 28%;
    border-radius: 15px;
     margin: 0 auto;
}
.imgca8{
  width: 100%;
  background-repeat: no-repeat;
      border-radius: 4%;
}

.caja8-1{
background-color: white;
    width: 28%;
    border-radius: 15px;
       margin: 0 auto;
}
.caja8-1-1{
background-color: white;
    width: 28%;
    border-radius: 15px;
       margin: 0 auto;
}
.texto8{
  background-color: #ffffff14;
 width: 100%;
}
.btnseccion8{
     background-color: #e0e02aa6;
    /* background-color: white; */
    width: 66%;
    border-radius: 6px;
    display: block;
    padding: 7px;
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    border: none;
}
/*----------------------------------------------------------------*/
/*Seccion9/
/*flexbox------seccion9*/
.flexbox9{ /*padre*/
  display: flex;
  align-items:center;
  justify-content:center; 
}
.box9{ /*hijo*/
        flex-shrink: 0;
    margin: 0px;
    width: 60%;
    height: 400px;
}
.box9-1{ /*hijo*/
        flex-shrink: 0;
    margin: 0px;
    width: 40%;
    height: 400px;
    
}

.mindiv {
  width: 72%;
    height: 68%;
    background-color: white;
    margin-top: 40px;
    border: 3px solid #aab7b83b;
    border-radius: 4%;
        margin: 0px;
    padding: 14px;
}
.img9{
background-image: url('../img/image9.png');
    background-color: ;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 600px;
}
.btnpalma{
       background-color: #e0e02aa6;
    /* background-color: white; */
    width: 35%;
    height: 9%;
    border-radius: 6px;
    display: block;
    margin: auto;
    /* float: right; */
    /* margin-left: 191px; */
    margin-top: -46px;
    padding: 9px;
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    border: none;
    border: none;
}
/*----------------------------------------------------------------*/
/*Seccion10/
/*flexbox------seccion10*/
.flexbox10{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
.box10{ /*hijo*/
        flex-shrink: 0;
    margin: 0px;
    width: 100%;
    height: 700px;

}
i.fas.fa-star {
   color: rgb(241,225,95);
    color: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
}
.star{ 
   
}
.jon{ 
  color: white;
}
.jon2{ 
      margin: 1px;
    margin-left: 150px;
    margin-top: -34px;
}
.box10-1{ /*hijo*/
  width: 100%;
  background-color: #00000078;
      padding: 7%;
}
.img10{
  background-color: ;
    background-size: 100%;
    background-image: url('../img/bg3.png');
    background-repeat: no-repeat;
}
.isma{
      width: 4%;
    border-radius: 97%;
}
.div10{
    width: 100%;
    /* background-color: red; */
    height: 306px;

}
/*----------------------------------------------------------------*/
/*Seccion12/
/*flexbox------seccion12*/
.flexbox12{ /*padre*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 450px;
}
.img11 {
    background-image: url('../img/image10.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.box12{ /*hijo*/
        flex-shrink: 0;
    margin: 0px;
    width: 100%;
    background: #00000000;
}
.f12{ 
    padding: 2%;
}
.addres1{
     /* background-color: aqua; */
    width: 10%;
    height: 10%;
    margin-left: 45%;
    margin-top: 20%;
}
.iconadres{
        font-size: 78px;
        color: rgb(241,225,95);
    color: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
}
i.faa{
margin: 2%;
    padding: 10px;
    border-radius: 50%;
       border: 1px solid #F1C40F;

}

.cuadros12{
       display: flex;
    /* display: block; */
    width: 60%;
    height: 21%;
    margin-top: 2%;
    /* background-color: red; */
/*
  background-color: red;*/
}
.c12{
  display: block;
    width: 33%;
    height: 100%;
    float: right;
/*    background-color: blue;*/
}
.c12-1{
    width: 34%;
    height: 100%;
 /*  background-color: orange;*/
    float: right;
}
.c12-1-1{
    width: 33%;
    height: 100%;
   /* background-color: aqua;*/
    float: right;
}
.icon12{
        width: 60%;
    height: 15%;
    /*background-color: #6bce2d;*/
    margin-left: 1%;
    margin-top: 4%;

}
.email{
         margin: 16px;
    font-size: 35px;
    color: #ABB2B9;
}
.call{
       margin: 16px;
    font-size: 35px;
    color: #ABB2B9;
}
.addres{
         margin: 16px;
    font-size: 35px;
    color: #ABB2B9;
}

h1.texto12, p.texto12{
color:#AAB7B8;
    margin: 5px;
}

/*----------------------------------------------------------------*/
/*Seccion11/
/*flexbox------seccion11*/
.flexbox11{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
.box11 {
    flex-shrink: 0;
    margin: 2px;
    width: 100%;
    height: 100px;
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
}
.centrado{
  margin-top: 30px;
}
/*----------------------------------------------------------------*/
/*Seccion13/
/*flexbox------seccion13*/
.flexbox13{ /*padre*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 450px;
}
.box13{ /*hijo*/
        flex-shrink: 0;
    margin: 0px;
    width: 100%;
    background: #00000000;
}
/*----------------------------------------------------------------*/

/*Medias-Responsive*/
@media screen and (max-width: 795px) {
  .iconmenu {
    width: 81%;
    background-color: ;
}
.box {
    flex-shrink: 0;
    margin: 0px;
    width: 100%;
    height: 420px;
    background: #00000078;
}
.btn1 {
      background-color: #e0e02aa6;
    /* background-color: white; */
    width: 18%;
    height: 9%;
    font-size: 16px;
    border-radius: 6px;
    display: block;
    padding: 10px;
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    border: none;
}
.form-box {
    width: 20%;
    height: auto;
    margin: 6px;
    position: relative;
    display: block;
}
.formcenter {
    width: auto;
    height: 100%;
    background-color: ;
    margin-left: 10%;
    display: flex;
}
.addres1 {
    /* background-color: aqua; */
    width: 10%;
    height: 10%;
    margin-left: 45%;
    margin-top: 13%;
}
ul.menu-slide {
    position: relative;
    padding: 0px;
    width: 51%;
    height: 30%;
    display: flex;
    /* float: left; */
    border: 1 solid;
    border: 1px solid;
}
.box10-1 {
    width: 100%;
    background-color: #00000078;
    padding: 0%;
}
.btnpalma {
      background-color: #e0e02aa6;
    /* background-color: white; */
    width: 44%;
    height: 14%;
    border-radius: 6px;
    display: block;
    margin: auto;
    /* float: right; */
    margin: 50%;
    font-size: 18px;
    /* margin-left: 191px; */
    margin-top: -46px;
    padding: 9px;
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    border: none;
    border: none;
}
.cajag8 {
    background-color: ;
    width: 90%;
    /* margin-left: 20%; */
    background-color: ;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    padding: 1px;
}
.cajag7 {
    background-color: ;
    width: 100%;
    height: 43%;
    margin: 0 auto;
}
.caja7-1 {
    background-color: #ffffff7a;
    width: 28%;
    border-radius: 15px;
    margin: 0 auto;
}
.caja7-1-1 {
    background-color: #ffffff7a;
    width: 28%;
    border-radius: 15px;
    margin: 0 auto;
}
.cajag {
    /* margin-left: 23%; */
    height: 50%;
    max-width: 100%;
    background-color: ;
    margin-top: 8%;
    position: relative;
    display: flex;
    /* margin: 29px; */
    /* padding: 29px; */
    margin: 0 auto;
    /* display: flex; */
}
.formcenter {
    width: auto;
    height: 100%;
    background-color: ;
    margin-left: 0%;
    display: flex;
}
.form-box {
    width: 20%;
    height: auto;
    margin: 6px;
    position: relative;
    display: block;
}
.mindiv {
    width: 87%;
    height: 68%;
    background-color: white;
    margin-top: 40px;
    border: 3px solid #aab7b83b;
    border-radius: 4%;
    margin: 0px;
    padding: 14px;
}

}
@media screen and (max-width: 480px) {
  .div1 {
    background-color: #d6dcde00;
    display: block;
    width: 50%;
    /* margin-left: 20%; */
    /* margin-top: 20%; */
    margin: 0 auto;
}
 .iconrigth {
    background-color: ;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: inline-block;
}
.iconleft {
    width: 100%;
    height: auto;
    /* background: red; */
    padding: 10px 0px;
    display: flex;
}
.iconos1 {
    /* background-color: orange; */
    width: 50%;
    height: auto;
}
.iconos2 {
    /* background-color: aqua; */
    width: 50%;
    height: auto;
}
.icon12 {
    width: 100%;
    height: 15%;
    /* background-color: #6bce2d; */
    margin-left: 1%;
    margin-top: 4%;
}
.cuadros12 {
    display: flex;
    /* display: block; */
    width: 100%;
    height: 21%;
    margin-top: 2%;
    /* background-color: red; */
    /* background-color: red; */
}
.addres1 {
    /* background-color: aqua; */
    width: 10%;
    height: 10%;
    margin-left: 45%;
    margin-top: 1%;
}
.img-hero {
    background-image: url('../img/banner1.png');
    background-color: ;
    background-size: cover;
    background-repeat: no-repeat;
}
.mod4 {
    width: 100%;
    height: auto;
    background-color: ;
    display: block;
    /* display: flex; */
}
.mod6 {
    width: 100%;
    display: block;
    background-color: ;
    margin: 0 auto;
}
.cua1 {
    width: 100%;
    height: 34%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* background-color: red; */
    text-align: center;
}
.mod4-1 {
    width: 100%;
    height: auto;
    background-color: ;
    display: block;
    right: 30%;
}
.box4 {
    flex-shrink: 0;
    margin: 0px;
    width: 100%;
    height: 50%;
    /* height: 400px; */
    background-color: #f4f6f700;
    /* display: flex; */
}
.img5 {
    background-image: url('../img/image2.jpg');
    background-color: ;
    background-size: cover;
    background-repeat: no-repeat;
}
.img7 {
    background-image: url('../img/image4.png');
    background-color: ;
    background-size: cover;
    background-repeat: no-repeat;
}
.img8 {
    background-image: url('../img/b2.png');
    background-color: ;
    background-size: cover;
    background-repeat: no-repeat;
}
.img10 {
    background-color: ;
    background-size: cover;
    background-image: url('../img/bg3.png');
    background-repeat: no-repeat;
}
ul.menu-slide {
      position: relative;
    padding: 0px;
        width: 62%;
    height: 30%;
    display: flex;
    /* float: left; */
    border: 1 solid;
    border: 1px solid;
}
.flexbox6 {
    display: block;
    align-items: center;
    justify-content: center;

}

.box6 {
    flex-shrink: 0;
    margin: 0px;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}
.box6-1 {
    flex-shrink: 0;
    margin: 0px;
    width: 100%;
    height: 400px;
}
.im6 {
    width: 100%;
    margin-top: 7%;
    border-radius: 20px;
}
.flexbox9 {
    display: block;
    align-items: center;
    justify-content: center;
}
.img9 {
    background-image: url('../img/image9.png');
    background-color: ;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: auto;
    width: 100%;
}
.box9-1 {
    flex-shrink: 0;
    margin: 0px;
    width: 100%;
    /* height: 400px; */
}
.mindiv {
       width: 5;
    width: 90%;
    /* height: 100%; */
    background-color: white;
    margin-top: 0px;
    border: 3px solid #aab7b83b;
    border-radius: 4%;
    /* margin: 0px; */
    /* padding: 37px; */
}
.box3 {
    flex-shrink: 0;
    margin: 0px;
    width: 100%;
}
.flexbox3 {
    display: block;
    align-items: center;
    justify-content: center;
}
.flexbox2 {
    display: block;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.box2 {
    flex-shrink: 0;
    margin: 0px;
    width: 100%;
    height: auto;
    background-color: #F7DC6F;
}
.formcenter {
    width: auto;
    height: 100%;
    background-color: ;
    margin-left: 5%;
    display: block;
}
.form-box {
    width: 100%;
    height: auto;
    margin: -1px;
    position: relative;
    display: block;
}
.flexbox12 {
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 450px;
}
.box12 {
    flex-shrink: 0;
    margin: 0px;
     display: block;
    width: 100%;
    background: #00000000;
}
.cuadros12 {
    display: block;
    width: 100%;
}
.c12 {
    display: block;
    width: 100%;
}
.c12-1 {
    width: 100%;
     display: block;
}
.c12-1-1 {
    width: 100%;
     display: block;
}
.icon12 {
    width: 100%;
    padding: 11px
     display: block;
}
.flexbox4 {
    align-items: center;
    justify-content: center;
    display: block;
}
.box4 {
    flex-shrink: 0;
    margin: 0px;
    width: 100%;
    background-color: #f4f6f700;
    display: block;

}
.mod4 {
    width: 100%;
    height: auto;
    background-color: ;
    display: block;
    /* display: flex; */
}
.mod6 {
  display: block;
    width: 100%;
    display: block;
    background-color: ;
    margin: 0 auto;
}
.cua1 {
  display: block;
    width: 100%;
    text-align: center;
}
.mod4-1{
    width: 100%;
    height: auto;
    background-color: ;
    display: block;
    /* display: flex; */
}
/*seccion7*/
/*----------------------------------------------------------------*/
.flexbox7 {
    display: block;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.cajag7 {
    margin-left: 23%;
    max-width: 100%;
    background-color: ;
    margin-top: 8%;
    /* position: relative; */
    display: block;
    /* margin: 29px; */
    /* padding: 29px; */
    margin: 0 auto;
    /* display: flex; */
    
}
.caja7 {
    background-color: #ffffff7a;
    width: 75%;
    border-radius: 15px;
    padding: 7px;
    margin: 10px auto
}
    /* margin: 20px; */
.caja7-1{
    background-color: #ffffff7a;
    width: 75%;
    border-radius: 15px;
    padding: 7px;
    margin: 10px auto
    /* margin: 20px; */
}
.caja7-1-1{
  background-color: #ffffff7a;
    width: 75%;
    border-radius: 15px;
    padding: 7px;
    margin: 10px auto
  }
/*----------------------------------------------------------------*/
/*seccion8*/
/*----------------------------------------------------------------*/
.flexbox8 {
    display: block;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.cajag8 {
    margin-left: 23%;
    max-width: 100%;
    background-color: ;
    margin-top: 8%;
    /* position: relative; */
    display: block;
    /* margin: 29px; */
    /* padding: 29px; */
    margin: 0 auto;
    /* display: flex; */
   
}
.caja8{
    background-color: #ffffff7a;
    width: 80%;
    border-radius: 15px;
      margin: 0 auto;
           padding: 0px;
}
.caja8-1{
    background-color: #ffffff7a;
    width: 80%;
    border-radius: 15px;
      margin: 0 auto;
       padding: 0px;
}
.caja8-1-1{
    background-color: #ffffff7a;
     width: 80%;
    border-radius: 15px;
      margin: 0 auto;
        padding: 0px;
}
/*
/*----------------------------------------------------------------*/
/*seccion5*/
/*----------------------------------------------------------------*/
.flexbox5{ /*padre*/
  display: block;
  align-items:center;
  justify-content:center; 
}
.box5{ /*hijo*/
     flex-shrink: 0;
    margin: 0px;
    width: 100%;
    background-color: #1685d054;
}
.img5{
  background-image: url('../img/image2.png');
  background-color: ;
  background-size: cover;
  background-repeat: no-repeat;
}
.cajag{
 
    max-width: 80%;
    background-color: ;
    margin-top: 8%;
    display: block;
    margin: 0 auto;
}
.lista5{
  list-style: none;
}
.caja5{
     background-color: #ffffff7a;
    width: 100%;
    border-radius: 15px;
         margin: 10px auto
      }
.yellow1 {
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    width: 100%;
   
}
.textoyellow{
  width: 100%;
 text-align: center;
     padding: 10px 0;
  /*background-color: white;*/
}
.iconadres{
        font-size: 54px;
        color: rgb(241,225,95);
    color: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
}
.isma {
          width: 10%;
    border-radius: 97%;
}
.tab-content {
    display: none;
    background: ;
    width: 100%;
    /* height: 50%; */
}
.buttoncontainer {
     display: block;
    clear: both;
    width: 100%;
    width: 17%;
    border-radius: 6px;
    display: block;
    font-size: 18px;
    padding: 1px;
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    border: none;
    margin: 0px auto;
}
.btnseccion8 {
    background-color: #e0e02aa6;
    /* background-color: white; */
    width: 66%;
    border-radius: 6px;
    display: block;
    padding: 7px;
    font-size: 18px;
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    border: none;
}
.texto7 {
    background-color: #ffffff14;
    width: 100%;
    padding: 5px;
}
.btny {
    background-color: #e0e02aa6;
    /* background-color: white; */
    width: 29%;
    height: 9%;
    font-size: 18px;
    border-radius: 6px;
    display: block;
    padding: 10px;
    background: rgb(241,225,95);
    background: linear-gradient(180deg, rgba(241,225,95,1) 0%, rgba(242,201,47,1) 100%);
    border: none;
}
.btnform2 {
    background-color: #000000a6;
    width: 53%;
    height: 33px;
    border-radius: 4px;
    font-size: 18px;
}
.form-box {
    width: 100%;
    height: auto;
    margin: -1px;
    position: relative;
    display: block;
    padding: 4px;
}
.form-box button {
    margin-top: 15%;
}
.tabcontainer {
    width: auto;
    margin: 0px auto;
}
/*----------------------------------------------------------------*/

}
}





















